#discordData,#discordInfo {
  display: flex;
  height: 50px
}

#discordInvite {
  text-align: left;
  box-sizing: border-box;
  color: #fff;
  background: #2b2d31;
  border-radius: 15px;
  border: 1px solid rgba(47,49,54,.9);
  border-collapse: separate;
  font: normal normal 400 normal 16px/16px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 10px 15px 10px 10px;
  display: inline-block
}

#offlineInd,#onlineInd {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0 4px 0 0;
  display: block
}

#introText {
  color: #b9bbbe;
  height: 16px;
  letter-spacing: .5px;
  text-transform: uppercase;
  flex: 1 1 0%;
  font: normal normal 600 normal 12px/16px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0 0 8px
}

#serverImg {
  background-position: 50% 50%;
  bottom: 0;
  height: 50px;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
  width: 50px;
  border-radius: 15px;
  flex: 0 0 auto;
  margin: 0 10px 0 0
}

#discordInfo {
  align-items: stretch;
  justify-content: center;
  flex: 1 1 auto;
  flex-flow: column nowrap
}

#callToAction,#statusIndicators {
  align-items: center;
  display: flex
}

#serverNameBox {
  color: #f6f6f7;
  height: 20px;
  font: normal normal 600 normal 16px/20px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0 0 4px
}

#onlineInd {
  color: #72767d;
  column-rule-color: #72767d;
  background: #43b581;
  font: italic normal 600 normal 12px/16px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif
}

#numOnline {
  color: #72767d;
  display: block;
  height: 16px;
  font: normal normal 600 normal 12px/16px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0 8px 0 0
}

#offlineInd {
  color: #72767d;
  background: #747f8d;
  font: italic normal 600 normal 12px/16px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif
}

#numTotal {
  color: #72767d;
  display: block;
  height: 16px;
  font: normal normal 600 normal 12px/16px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif
}

#callToAction {
  color: #fff;
  cursor: pointer;
  border: 0;
  justify-content: center;
  background: #248046;
  border-radius: 3px;
  font: normal normal 500 normal 14px/20px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
  transition: background-color .17s ease 0s
}

#callToAction:hover {
  background-color: #1a6334
}

#buttonText a {
  color: #fff;
  text-decoration: none;
}

#buttonText {
  cursor: pointer;
  display: flex;
  height: 20px;
  text-align: center;
  font: normal normal 500 normal 14px/20px Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0 8.83px
}

.loadHidden {
  display: none
}